@using System.Reflection
@using System.Text.RegularExpressions
@using SuperheroStats.Data
@using System.Collections
@using System.Globalization
@using System.Runtime.CompilerServices
@using SuperheroStats.Services


@if (AttributeName == null)
{
	<h1>Null Attribute Name...</h1>
}
else
{
	<div class="card shadow">
		<h3 class="card-header fw-bold">Appearance</h3>
		<div class="card-body">
			<table class="table table-hover">
				<tbody>
				@foreach (PropertyInfo prop in AttributeName.GetType().GetProperties())
				{
					var propName = _stringFormatting.ToSentenceCase(prop.Name);
					var propValue = _stringFormatting.DeliminateStringIfList(prop.GetValue(AttributeName, null));
					<tr>
						<th class="powerstat-name">@propName</th>
						<td class="powerstat-value  w-50">@propValue</td>
					</tr>
				}
				</tbody>
			</table>
		</div>
	</div>
}

@code {

	[Parameter]
	public object? AttributeName { get; set; }

	private readonly StringFormattingService _stringFormatting = new StringFormattingService();



}
