@using SuperheroStats.Data
<div class="col">
	<a href="/hero/@hero.name">
	<div class="card my-0 text-white hero-image img-hover-zoom--zoom-n-rotate">
		<img src="@hero.images.sm" class="card-img-top" alt="@hero.name"/>
		<div class="card-img-overlay hero-overlay">
			<h3 class="card-title fw-bold">@hero.name</h3>
			<h5 class="card-text">@hero.biography.fullName</h5>
		</div>
	</div>
	</a>
</div>

@code {
	[Parameter]
	public HeroModel hero { get; set; }
}
