@using SuperheroStats.Data
<div class="col">
	<div class="card">
		<img src="@hero.images.lg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">@hero.name</h5>
			<p class="card-text">@hero.biography.fullName</p>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public Hero hero { get; set; }
}
