/*.circular-portrait {*/
    /*    position: relative;*/
    /*width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    align-content: center;
    justify-content: center;
}*/

/*.circular-portrait img {
    width: 100%;
    height: auto;
    margin: 0;

}
*/

/*#hero-avatar-container {
    align-content: center;
    justify-content: center;
    position: center;
    margin: 0 0 0 0;
}*/

#hero-avatar {
    object-fit: cover;
    border-radius: 50%;
    width: 250px;
    height: 250px;

}

#hero-name {
    font-size: 3rem;
}

.powerstat-name {
    height: 1.5rem;
}

.powerstat-value {
    height: 1.5rem;
}

.powerstat-progress {
    height: 1.5rem;
}