#hero-avatar {
    object-fit: cover;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

#hero-name {
    font-size: 3rem;
}

.powerstat-name {
    height: 1.5rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.powerstat-value {
    height: 1.5rem;
    font-size: 1.25rem;
}



.powerstat-progress {
    height: 1.5rem;
}

#hero-powerstats-table > :not(caption) > * > * {
    padding: 0.25rem 0.5rem;

}

.card {
    margin: 2rem 0rem;
}

.hero-pill {
    font-size: 0.90rem;
    margin: 0.25rem;
}