@page "/"

<PageTitle>Index</PageTitle>

<h1>Superhero Statistics</h1>
<h4>One stop shop to view hero and villain statistics</h4>


<div class="row row-cols-1 row-cols-md-4 g-4">
	<HeroCards/>
	<HeroCards/>
	<HeroCards/>
	<HeroCards/>
</div>