@page "/"
@using SuperheroStats.Services
@using SuperheroStats.Data

<PageTitle>Index</PageTitle>

<h1>Super Hero Stats</h1>
<button class="btn btn-primary mb-3" @onclick="GetHeroes">Get 20 Random Heroes</button>



<div class="row row-cols-2 row-cols-md-4 g-4 hero-card-container">
	@if (heroes != null)
	{
		@foreach (var hero in heroes)
		{
			<HeroCards hero="@hero"/>
		}
	}

</div>

@code
{
	[Inject]
	public IHeroService HeroService { get; set; }
	private IEnumerable<HeroModel> heroes { get; set; }

	private async Task GetHeroes()
	{
		heroes = null;
		heroes = (await HeroService.GetHeroes()).ToList();
	}
}
